<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DebugHTTP</key>
	<string>http://192.168.0.137:8989/phoenix/</string>
	<key>helpurl</key>
	<string>http://218.206.4.38:8081/phoneservice/help.html</string>
	<key>httpurl</key>
	<string>http://192.168.0.200:7778/phoneservice/</string>
	<key>temphttpurl</key>
	<string>http://218.206.4.38:8081/phoneservice/</string>
	<key>hosturl</key>
	<string>http://192.168.0.200:7778</string>
</dict>
</plist>
